header {
    padding-block: 16px;
}

header div {
    display: flex;
    justify-content: space-between;
}

#profile {

    display: flex;
    padding: 32px;
}
#profile img {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    margin-bottom: 8px;
}

#profile div {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    margin-top: 8px;
}
#profile>div {
    max-width: 384px;
}
.info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 70px 220px 0px 0px;
   
}
.info li {
    display: flex;
    align-items: center;
    gap: 16px;
}

